html
{
    margin: 0;
    font-size: 16px;
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
    background-color: #9169d9;
    /*background: linear-gradient(to bottom, #9169d9, #4d337d); Este tiene un error, habría que verlo*/
}

*
{
    box-sizing: border-box;
}

.logo
{
    width: 47vw;
    margin: 9vh auto 0.3rem auto;
    padding: 0.6rem;
    background-color: #fff;
    border-radius: 0.4375rem;
}

.logo img
{
    width: 4.375rem;
    margin: auto;
    display: block;
}

form
{
    width: 47vw;
    margin: 0 auto;
    color: #d7c9ff;
    font-size: 1.1rem;
}




fieldset
{
    border-radius: 1rem;
    border: 2px solid #d7c9ff;
    padding: 0 1.5rem 1.5rem;
}

legend
{
    display: table;
    margin: 0 auto;
    padding: 0 0.55rem;

    font-size: 1.25rem;
}

label
{
    cursor: pointer;
}



.fieldsetCampo
{
    width: 100%;
    margin-top: 0.8125rem;
}    

.fieldsetCampo input,
.fieldsetGrid input,
.fieldsetGrid3 input,
.fieldsetCard input
{
    width: 100%;
    padding: 3px 0 7px 0;
    font-size: 1.375rem;
    color: #4d337d;
    background-color: transparent;
    border: none;
    border-bottom: 3px solid #d7c9ff;
    outline: none;
    transition: all ease 0.3s;
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
}

/*Esta clase es para poner un fondo en el input de numero de tarjeta*/
.numTarj
{
    background-image: url('Servicios.png');
    background-repeat: no-repeat;
    background-position: right center; /*Alinea la imagen a la derecha*/
    background-size: 9.5rem;
    padding-right: 70px;
}

.fieldsetGrid,
.fieldsetGrid3,
.fieldsetCard
{
    margin-top: 0.8125rem;
    display: grid;
    grid-template-columns: 1fr 1fr; /*50% y 50%*/
}

.fieldsetGrid3
{
    grid-template-columns: 1fr 1fr 1fr; /* 3 campos dividos de forma uniforme */
}

.fieldsetCard
{
    grid-template-columns: 2fr 1fr; /*2/3 y 1/3*/
}

.fieldsetCampo input::placeholder,
.fieldsetGrid input::placeholder,
.fieldsetGrid3 input::placeholder,
.fieldsetCard input::placeholder
{
    color: #d7c9ff;
}

.fieldsetCampo input:focus,
.fieldsetGrid input:focus,
.fieldsetGrid3 input:focus,
.fieldsetCard input:focus
{
    border-bottom: 3px solid #4d337d;
}

/*Quitar los botones en Chrome, Safari y Edge */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button
{
    -webkit-appearance: none;
    margin: 0;
}

/*Quitar los botones*/
input[type="number"]
{
    appearance: textfield;
}


/*Estilo para el botón de enviar*/
.submit
{
    width: 100%;
    margin-top: 1.5rem;
    padding: 0.625rem;
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-size: 1.5rem;
    border: none;
    border-radius: 0.4375rem;
    cursor: pointer;
    background-color: #fff;
    color: #9169d9;
    transition: all ease 0.3s;
}

.submit:hover
{
    /*OPCIÓN 1, LUCE GENIAL*/
    background-color: #d7c9ff /*#4d337d color alternativo*/;
    color: #fff;
    
    /*OPCIÓN 2, EL ORIGINAL*/
    /*background-color: #e5dbff;*/
}
